html {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgb(15, 18, 20);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*------------------ Header --------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}
#site-name {
    margin: auto 1.5em auto 0;
    text-align: center;
    align-items: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}
#logo {
    margin: 1em 0 0 0;
    height: 220px;

}

#nav-bar {
    margin: auto 50px auto 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#dropdown {
    margin-bottom: 5px;
    background-color: #040607;
    border: 2px aliceblue solid;
    border-radius: 15%;
    height: 50px;
    cursor: pointer;
}
#dropdown:hover {
    border: 2px #00c6ff solid;
}
#navlink-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navcontent {
    display: none;
}
/*Add "show" classname to navcontent, replacing display when clicked*/
.show {
    display: flex;
    justify-content: center;
    position: absolute;
    flex-direction: column;
}
.navbutton {
    margin: 5px 0 5px 0;
    width: auto;
    height: 40px;
    color: aliceblue;
    background-color: #040607;
    border-left: 2px aliceblue solid;
    border-top: 2px aliceblue solid;
    border-radius: 10px;
    cursor: pointer;
}
.navbutton:hover {
    border-left: 2px #00c6ff solid;
    border-top: 2px #00c6ff solid;
}
/*------------------ Body --------------*/
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mid-title {
    margin: 0.5em;
    text-align: center;
    width: 50%;
    color: aliceblue;
    background-color: #040607;
    border-radius: 15px;
}
.mid-text {
    margin: 0.5em;
    padding: 0.5em;
    text-align: center;
    width: 75%;
    color: aliceblue;
    background-color: #040607;
    border-radius: 10px;
}
em {
    color: #00c6ff;
}
#tron-loop-container {
    display: flex;
    justify-content: center;
}
#tron-loop {
    width: 75%;
}

/*---------------- Footer ------------------*/
footer {
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}
footer > h5 {
    margin: 10px 0 10px 0;
}
footer > a, a:visited {
    text-decoration: none;
    color: aliceblue;
}
